<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bonc.medicine.mapper.mall.BuyersMapper">
	<insert id="insertPurchase" parameterType="com.bonc.medicine.entity.mall.Purchase">
        insert into mall_purchase (goods_name,purchase_cat_code,goods_cat_code,specification,user_id,img_url,
        publish_time,effect_flag,purchase_quantity,unit,linkman,linkman_phone,attribute,storehouse,produce_area,
        receipt,quality_standard,send_sample,payment,packing,qualification_standard,state,is_aduit,comment)
        values(#{goods_name},#{purchase_cat_code},#{goods_cat_code},#{specification},
        #{user_id},#{img_url},#{publish_time},#{effect_flag},#{purchase_quantity},#{unit},
        #{linkman},#{linkman_phone},#{attribute},#{storehouse},#{produce_area},#{receipt},#{quality_standard},
        #{send_sample},#{payment},#{packing},#{qualification_standard},#{state},#{is_aduit},#{comment})
    </insert>
    

    <select id="latestPurchaseList" parameterType="java.util.Map" resultType="java.util.Map">
    	SELECT
			mp.*,COUNT(mo.purchase_id) as offer ,mo.price,cu.name,cu.telephone
		FROM
			mall_purchase mp 	
			LEFT JOIN mall_offer mo	ON mp.id = mo.purchase_id
			Left join common_user cu ON cu.id = mp.user_id
		WHERE mp.state = 1
		<if test="is_aduit != null and is_aduit != ''">
			and mp.is_aduit = #{is_aduit}
		</if>
		<if test="user_id != null and user_id != ''">
			and mp.user_id = #{user_id}
		</if>
		<if test="cat_code != null and cat_code != ''">
			and mp.purchase_cat_code = #{cat_code}
		</if>
		<if test="goods_cat_code != null and goods_cat_code != ''">
			and mp.goods_cat_code = #{goods_cat_code}
		</if>
		<if test="goods_name != null and goods_name != ''">
			and (mp.goods_name like CONCAT('%',#{goods_name},'%') or cu.name like CONCAT('%',#{goods_name},'%') )
		</if>
		GROUP BY mp.id,mp.goods_name,mp.specification,mp.purchase_quantity,mp.publish_time
		ORDER by mp.publish_time DESC
    </select>
    
    
    <select id="purchasepCatList" parameterType="java.util.Map" resultType="java.util.Map">
    	SELECT
			mp.*,COUNT(mo.purchase_id) as offer ,mo.price,cu.name,cu.telephone
		FROM
			mall_purchase mp 	
			LEFT JOIN mall_offer mo	ON mp.id = mo.purchase_id
			Left join common_user cu ON cu.id = mp.user_id
		WHERE mp.state = '1' and mp.is_aduit = '1'
		<if test="cat_code != null and cat_code != ''">
			and mp.purchase_cat_code = #{cat_code}
		</if>
		<if test="goods_cat_code != null and goods_cat_code != ''">
			and mp.goods_cat_code = #{goods_cat_code}
		</if>
		<if test="goods_name != null and goods_name != ''">
			and (mp.goods_name like CONCAT('%',#{goods_name},'%'))
		</if>
		GROUP BY mp.id,mp.goods_name,mp.specification,mp.purchase_quantity,mp.publish_time
		ORDER by mp.publish_time DESC
    </select>
    
	<!-- 逻辑上删除，数据库只做修改 -->
    <update id="deletePurchase" parameterType="java.lang.String">
    	update mall_purchase SET state = '0' WHERE id IN 
    	<foreach collection="list" item="id" open="(" separator="," close=")">#{id}</foreach>
    </update>
    
    <update id="revokePurchase" parameterType="java.lang.String">
    	update mall_purchase SET is_aduit = '3' WHERE is_aduit='1'
    	and id IN 
    	<foreach collection="list" item="id" open="(" separator="," close=")">#{id}</foreach>
    </update>
    
    
    <select id="purchasepDetail" parameterType="java.lang.String" resultType="java.util.Map">
    	SELECT
			mp.*, COUNT(mo.purchase_id) as offer
		FROM
			mall_purchase mp LEFT JOIN mall_offer mo ON mp.id = mo.purchase_id
		WHERE
			mp.id = #{id}
		GROUP BY mp.goods_name,	mp.specification,	mp.purchase_quantity,	mp.publish_time	
    </select>

</mapper>