<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.bonc.medicine.mapper.mall.GongQiuSystemMapper">

	<update id="auditSSupply" parameterType="Map">
		update mall_supply set
		is_audit = #{result},carriage_status = '1',comment = #{comment} where
		id = #{supplyId}
	</update>

	<update id="auditFSupply" parameterType="Map">
		update mall_supply set
		is_audit = #{result},comment = #{comment} where id = #{supplyId}
	</update>

	<update id="auditSPurchase" parameterType="Map">
		update mall_purchase
		set is_aduit = #{result},comment = #{comment} where id = #{purchaseId}
	</update>

	<update id="auditFPurchase" parameterType="Map">
		update mall_purchase
		set is_aduit = #{result},comment = #{comment} where id = #{purchaseId}
	</update>

	<insert id="recommend" parameterType="com.bonc.medicine.entity.mall.Recommend">
		insert into
		mall_recommend(supply_id,site,img_url,state)
		values(#{supply_id},#{site},#{img_url},#{state})
	</insert>

	<update id="delGoods" parameterType="Map">
		update mall_supply set state
		= #{result} where id in
		<foreach collection="id" item="id" open="(" separator=","
			close=")">#{id}</foreach>
	</update>

	<update id="goodsOn" parameterType="Map">
		update mall_supply set
		carriage_status = '1' where id = #{supplyId}
	</update>

	<update id="goodsOff" parameterType="Map">
		update mall_supply set
		carriage_status = '2' where id = #{supplyId}
	</update>

	<select id="goodsRatio" parameterType="Map" resultType="Map">
		SELECT
		(
		SELECT count( * ) FROM mall_supply WHERE seller_id = #{sellerId} AND
		carriage_status = '1' AND is_audit = '1' AND state = '0' ) AS
		shangjia,
		( SELECT count( * ) FROM mall_supply WHERE seller_id =
		#{sellerId} AND
		carriage_status = '2' AND is_audit = '1' AND state =
		'0' ) AS xiajia,
		( SELECT count( * ) FROM mall_supply WHERE seller_id =
		#{sellerId} AND
		carriage_status = '0' AND is_audit = '0' AND state =
		'0' ) AS
		weishenhe
	</select>

	<update id="log" parameterType="Map">
		update common_user set is_allowed
		= #{result} where id = #{user_id}
	</update>

	<select id="range" parameterType="Map" resultType="Map">
		select
		distinct(supply_cat_code) from mall_supply where seller_id =
		#{sellerId} and is_audit = 1 and state = 0 and carriage_status = 1
	</select>

	<insert id="marks" parameterType="com.bonc.medicine.entity.mall.Marks">
		insert into
		mall_business_marks(supply_id,owner_user_id,leave_user_id,mark_url,mark_message,leave_time)
		values(#{supply_id},#{owner_user_id},#{leave_user_id},#{mark_url},#{mark_message},now())
	</insert>

	<select id="queryUserId" parameterType="Integer" resultType="Integer">
		select seller_id from mall_supply where id = #{supply_id}
	</select>

	<insert id="addNotice" parameterType="Map">
		insert into
		common_notice(notice_type,object_id,notice_content,publish_user_id,notice_receiver,publish_time,status,state)
		values('5',#{object_id},#{notice_content},#{publish_user_id},#{notice_receiver},now(),'1','1')
	</insert>

	<insert id="reply" parameterType="com.bonc.medicine.entity.mall.Reply">
		insert into
		mall_business_marks_reply(leave_user_id,mark_message_r,mark_time,is_read,mark_id)
		values(#{leave_user_id},#{mark_message_r},#{mark_time},#{is_read},#{mark_id})
	</insert>

	<select id="msglist" parameterType="Map" resultType="Map">
		SELECT
		d.*
		FROM
		(
		SELECT
		b.mark_message_r,
		b.mark_time AS time,
		b.reply_user_id AS id
		FROM
		mall_business_marks a
		LEFT JOIN mall_business_marks_reply b ON a.id
		=
		b.mark_id
		WHERE
		a.id = #{id} UNION ALL
		SELECT
		c.mark_message,
		c.leave_time AS time,
		c.leave_user_id AS id
		FROM
		mall_business_marks c
		) d
		ORDER BY
		d.time
	</select>

	<select id="supplylist" parameterType="Map" resultType="Map">
		SELECT
		a.id,
		a.goods_name,
		b.NAME,
		a.supply_cat_code,
		b.telephone,
		a.specification,
		a.inventory,
		a.inventory_unit,
		a.price,
		a.price_unit,
		a.img_url,
		a.carriage_status,
		a.is_audit
		FROM
		mall_supply a
		LEFT JOIN
		common_user b ON a.seller_id = b.id
		where a.state = '0'
		<if test="key != null and key != ''">
			AND (a.goods_name like CONCAT('%',#{key},'%') OR
			b.telephone like
			CONCAT('%',#{key},'%') OR b.NAME like
			CONCAT('%',#{key},'%'))
		</if>
		<if test="is_audit != null and is_audit != ''">
			AND a.is_audit = #{is_audit}
		</if>
		<if test="carriage_status != null and carriage_status != ''">
			AND a.carriage_status = #{carriage_status}
		</if>
		<if test="goodType != null and goodType != ''">
			AND a.supply_cat_code = #{goodType}
		</if>
	</select>

	<select id="purchaselist" parameterType="Map" resultType="Map">
		SELECT
		a.id,
		a.goods_name,
		b.NAME,
		a.purchase_cat_code,
		b.telephone,
		a.specification,
		a.purchase_quantity,
		a.unit,
		a.img_url,
		a.is_aduit
		FROM
		mall_purchase a
		LEFT JOIN common_user b ON a.user_id = b.id
		WHERE
		a.state = '1'
		AND a.is_aduit = '0'
		<if test="key != null and key != ''">
			AND (a.goods_name like CONCAT('%',#{key},'%') OR
			b.telephone like
			CONCAT('%',#{key},'%') OR b.NAME like
			CONCAT('%',#{key},'%'))
		</if>
		<if test="goodType != null and goodType != ''">
			AND a.purchase_cat_code = #{goodType}
		</if>
	</select>

	<select id="my_supply_statistics" parameterType="Map"
		resultType="Map">
		select (select count(1) from mall_supply where seller_id =
		#{user_id} and carriage_status = '1' and state = '0') as zsz ,
		(select
		count(1) from mall_supply where seller_id = #{user_id} and
		carriage_status = '2' and state = '0') as yxj ,
		(select count(1) from
		mall_supply where seller_id = #{user_id} and is_audit =
		'0' and state =
		'0') as shz ,
		(select count(1) from mall_supply where seller_id =
		#{user_id} and is_audit =
		'2' and state = '0') as shsb
	</select>

	<select id="my_supply_type" parameterType="Map" resultType="Map">
		select * from mall_supply where state = '0' and seller_id = #{user_id}
		<if test="type != null and type == 1">
			AND carriage_status = '1'
		</if>
		<if test="type != null and type == 2">
			AND carriage_status = '2'
		</if>
		<if test="type != null and type == 3">
			AND is_audit = '0'
		</if>
		<if test="type != null and type == 4">
			AND is_audit = '2'
		</if>
	</select>

	<select id="my_purchase_statistics" parameterType="Map"
		resultType="Map">
		select (select count(1) from mall_purchase where user_id =
		#{user_id} and is_aduit = '1' and state = '1') as qgz ,
		(select
		count(1) from mall_purchase where user_id = #{user_id} and is_aduit =
		'3' and state = '1') as ycx ,
		(select count(1) from mall_purchase where
		user_id = #{user_id} and is_aduit =
		'0' and state = '1') as shz ,
		(select count(1) from mall_purchase where user_id = #{user_id} and
		is_aduit =
		'2' and state = '1') as shsb
	</select>

	<select id="my_purchase_type" parameterType="Map" resultType="Map">
		select * from mall_purchase where state = '1' and user_id = #{user_id}
		<if test="type != null and type == 1">
			AND is_aduit = '1'
		</if>
		<if test="type != null and type == 2">
			AND is_aduit = '3'
		</if>
		<if test="type != null and type == 3">
			AND is_aduit = '0'
		</if>
		<if test="type != null and type == 4">
			AND is_aduit = '2'
		</if>
	</select>

</mapper>
