<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.bonc.medicine.mapper.mall.HomePageMapper">

	<select id="notice" parameterType="Map" resultType="Map">
		select
		(select count(1) from km_audit where status is null ) as zsk ,
		(select count(1) from comm_dyanimic where effect_flag = '2') as dt ,
		(select count(1) from spec_article where status = '0' and is_audit = '0') as zy ,
		(select count(1) from spec_upload_file where status = '0') as zl ,
		(select count(1) from spec_issue where is_revisited ='0') as hf ,
		(select count(1) from mall_supply where is_audit = '0' and state = '0') as gy ,
		(select count(1) from mall_purchase where is_aduit = '0' and state = '1') as qg
	</select>
	
	<select id="today" parameterType="Map" resultType="Map">
		select 
		(select count(1) from train_video_course where operation_status = '3' and status = '0' and publish_time <![CDATA[ >= ]]> #{min_time} and publish_time <![CDATA[ <= ]]> #{max_time}) as sp ,
	 	(select count(1) from spec_article where status = '0' and publish_time <![CDATA[ >= ]]> #{min_time} and publish_time <![CDATA[ <= ]]> #{max_time} ) as wz ,
	 	(select count(1) from comm_dyanimic where effect_flag = '0' and publish_time <![CDATA[ >= ]]> #{min_time} and publish_time <![CDATA[ <= ]]> #{max_time} ) as dt ,
	 	(select count(1) from mall_supply where state = '0' and is_audit = '1' and public_time <![CDATA[ >= ]]> #{min_time} and public_time <![CDATA[ <= ]]> #{max_time} ) as gy ,
	 	(select count(1) from mall_purchase where state = '1' and is_aduit = '1' and publish_time <![CDATA[ >= ]]> #{min_time} and publish_time <![CDATA[ <= ]]> #{max_time} ) as qg
	</select>

</mapper>
