<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.bonc.medicine.mapper.mall.PriceMapper">

	<select id="getArieties" parameterType="Map" resultType="Map">
		select
		distinct cat_name from common_price where state = '1' and status = '1'
	</select>

	<select id="getMarket" parameterType="Map" resultType="Map">
		select
		distinct market_name from common_price where state = '1' and status =
		'1'
	</select>

	<select id="getSpecifaction" parameterType="Map" resultType="Map">
		select distinct specifaction from common_price where state = '1' and
		status = '1'
	</select>

	<select id="getProduct" parameterType="Map" resultType="Map">
		select
		distinct product_name from common_price where state = '1' and status =
		'1'
	</select>

	<select id="market" parameterType="Map" resultType="Map">
		select * from common_price where price_date = #{time} and state =
		'1' and status = '1'
		<if test="hotword != null and hotword != ''">
			AND cat_name like CONCAT('%',#{hotword},'%')
		</if>
		<if test="market != null and market != ''">
			AND market_name like CONCAT('%',#{market},'%')
		</if>
	</select>

	<select id="trend" parameterType="Map" resultType="Map">
		SELECT
		price_date,
		( SUM( price ) / count( 1 ) ) AS price,
		cat_name from
		common_price where state = '1' and status = '1'
		<if test="hotword != null and hotword != ''">
			AND cat_name like CONCAT('%',#{hotword},'%')
		</if>
		<if test="market != null and market != ''">
			AND market_name like CONCAT('%',#{market},'%')
		</if>
		<if test="specifaction != null and specifaction != ''">
			AND specifaction like CONCAT('%',#{specifaction},'%')
		</if>
		<if test="product != null and product != ''">
			AND product_name like CONCAT('%',#{product},'%')
		</if>
		<if test="start_time != null and start_time != ''">
			AND price_date <![CDATA[ >= ]]>
			#{start_time}
		</if>
		<if test="end_time != null and end_time != ''">
			AND price_date <![CDATA[ <= ]]>
			#{end_time}
		</if>
		GROUP BY
		price_date
		ORDER BY
		price_date
	</select>

	<select id="detail" parameterType="Map" resultType="Map">
		SELECT
		price_date,
		( SUM( price ) / count( 1 ) ) AS price,
		cat_name from
		common_price where state = '1' and status = '1'
		<if test="hotword != null and hotword != ''">
			AND cat_name like CONCAT('%',#{hotword},'%')
		</if>
		<if test="market != null and market != ''">
			AND market_name like CONCAT('%',#{market},'%')
		</if>
		<if test="specifaction != null and specifaction != ''">
			AND specifaction like CONCAT('%',#{specifaction},'%')
		</if>
		<if test="product != null and product != ''">
			AND product_name like CONCAT('%',#{product},'%')
		</if>
		<if test="start_time != null and start_time != ''">
			AND price_date <![CDATA[ >= ]]>
			#{start_time}
		</if>
		<if test="end_time != null and end_time != ''">
			AND price_date <![CDATA[ <= ]]>
			#{end_time}
		</if>
		GROUP BY
		price_date
		ORDER BY
		price_date
		limit 0,9
	</select>

	<select id="todayPrice" parameterType="Map" resultType="Map">
		SELECT
		price_date,
		( SUM( price ) / count( 1 ) ) AS price,
		cat_name from
		common_price where state = '1' and status = '1' and price_date =
		#{time}
		<if test="hotword != null and hotword != ''">
			AND cat_name like CONCAT('%',#{hotword},'%')
		</if>
		<if test="market != null and market != ''">
			AND market_name like CONCAT('%',#{market},'%')
		</if>
		<if test="specifaction != null and specifaction != ''">
			AND specifaction like CONCAT('%',#{specifaction},'%')
		</if>
		<if test="product != null and product != ''">
			AND product_name like CONCAT('%',#{product},'%')
		</if>
		GROUP BY
		price_date
	</select>

	<select id="pricelist" parameterType="Map" resultType="Map">
		select * from common_price where status = '0'
		<if test="hotword != null and hotword != ''">
			AND (cat_name like CONCAT('%',#{hotword},'%') OR
			market_name like CONCAT('%',#{hotword},'%') OR
			specifaction like CONCAT('%',#{hotword},'%') OR
			product_name like CONCAT('%',#{hotword},'%'))
		</if>
		<if test="priceType != null and priceType == '市场价格'">
			AND market_name IS NOT NULL
		</if>
		<if test="priceType != null and priceType == '产地价格'">
			AND product_name IS NOT NULL
		</if>
		<if test="priceState != null and priceState == '正常'">
			AND state = '1'
		</if>
		<if test="priceState != null and priceState == '停用'">
			AND state = '0'
		</if>
		<if test="start_time != null and start_time != ''">
			AND price_date <![CDATA[ >= ]]> #{start_time}
		</if>
		<if test="end_time != null and end_time != ''">
			AND price_date <![CDATA[ <= ]]> #{end_time}
		</if>
	</select>

	<update id="priceState" parameterType="Map">
		update common_price set
		state = #{state} where id = #{id}
	</update>

</mapper>
