<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bonc.medicine.mapper.mall.SpecialistMapper">
	<insert id="insertSpecialist" parameterType="com.bonc.medicine.entity.mall.Specialist" useGeneratedKeys="true" keyProperty="spec_id">
		insert into spec_info (spec_id,name,head_portrait,education,title,company,professional_direction,
		expertise_field,employment_age,registration_date,detail) 
		values (#{spec_id},#{name},#{head_portrait},#{education},#{title},#{company},
		#{professional_direction},#{expertise_field},#{employment_age},#{registration_date},#{detail})
	</insert>
	
	<insert id="insertSubSpec" parameterType="java.util.Map">
		insert into spec_subject_rel (spec_id,subject_id) values 
		<foreach collection="array" item="subject_id"  separator=",">
			(#{spec_id},#{subject_id})
		</foreach>
	</insert>
	
	<delete id="delSubSpec" parameterType="java.lang.String">
		delete from spec_subject_rel where spec_id = #{spec_id}
	</delete>
	
	<insert id="insertCatSpec" parameterType="java.util.Map">
		insert into spec_cat_rel (spec_id,cat_id) values 
		<foreach collection="array" item="cat_id"  separator=",">
			(#{spec_id},#{cat_id})
		</foreach>
	</insert>
	
    <delete id="delCatSpec" parameterType="java.lang.String">
		delete from spec_cat_rel where spec_id = #{spec_id}
	</delete>
	
	<update id="updateSpecialist" parameterType="com.bonc.medicine.entity.mall.Specialist">
		update spec_info set name=#{name},head_portrait=#{head_portrait},education=#{education},title=#{title},
		company=#{company},professional_direction=#{professional_direction},expertise_field=#{expertise_field},
		employment_age=#{employment_age},registration_date=#{registration_date},detail=#{detail} 
		where spec_id = #{spec_id}
	</update>
	
	<select id="subjectList" resultType="Map">
		SELECT subject_code as id , subject_name as name FROM dict_subject
	</select>
	
	<select id="catalogList" resultType="Map">
		SELECT variety_code as id, variety_name as name FROM common_medicine_variety
		<if test="limit != null and limit != ''">
			limit 0,#{limit}
		</if>
	</select>
	
	<select id="specialList" parameterType="java.util.Map" resultType="Map">
		SELECT
			si.spec_id,
			si.NAME,
			si.head_portrait,
			si.employment_age,
			si.expertise_field,
			IFNULL( sis.interact_count, 0 ) AS interact_count ,
			count(cf.id) as follow ,
			0 as is_follow,
			'' as sub,
			'' as cat
		FROM
			spec_info si
			LEFT JOIN spec_interact_stats sis ON si.spec_id = sis.spec_id
			LEFT JOIN common_follow cf ON si.spec_id = cf.object_id and cf.object_type = '1' and cf.follow_flag = '1'  
		<if test="subject_code != null and subject_code != ''">
			LEFT JOIN spec_subject_rel ssr ON si.spec_id = ssr.spec_id
		</if>
		<if test="cat_code != null and cat_code != ''">
			LEFT JOIN spec_cat_rel scr ON si.spec_id = scr.spec_id
		</if>
		
		WHERE 1=1 
		<if test="subject_code != null and subject_code != ''">
			AND ssr.subject_id = #{subject_code}
		</if>
		<if test="cat_code != null and cat_code != ''">
			AND scr.cat_id = #{cat_code}
		</if>
		<if test="name != null and name != ''">
			AND si.name LIKE '%'|| #{name} ||'%'
		</if>
		group by(si.spec_id)
		ORDER BY si.employment_age DESC
	</select>
	
	<select id="specialIsFollow" parameterType="java.util.Map" resultType="Map">
		select object_id from common_follow where follow_user_id = #{user_id} and follow_flag = '1' and object_type = '0'
	</select>
	
	<select id="specDetail" parameterType="java.lang.String" resultType="Map">
		SELECT
			si.*,
			IFNULL( sis.interact_count, 0 ) AS interact_count,
			count( cf.id ) AS follow,
			0 AS is_follow ,
			'' as sub,
			'' as cat
		FROM
			spec_info si
			LEFT JOIN spec_interact_stats sis ON si.spec_id = sis.spec_id
			LEFT JOIN common_follow cf ON si.spec_id = cf.object_id 
			AND cf.object_type = '1' 
			AND cf.follow_flag = '1' 
		WHERE
			si.spec_id = #{spec_id}
	</select>
	
	<select id="sub" parameterType="Map" resultType="Map">
		select IFNULL(GROUP_CONCAT(ds.subject_name),'') as sub from spec_subject_rel ssr left join dict_subject ds 
		on ssr.subject_id = ds.subject_code where ssr.spec_id = #{spec_id}
	</select>
	
	<select id="cat" parameterType="Map" resultType="Map">
		SELECT IFNULL(GROUP_CONCAT(cmv.variety_name),'') as cat from spec_cat_rel scr left join common_medicine_variety cmv 
		on scr.cat_id = cmv.variety_code where scr.spec_id = #{spec_id}
	</select>
	
	<update id="revokeArt" parameterType="String" >
		UPDATE spec_article SET is_audit = 3 WHERE id = #{id}
	</update>
	
	<select id="articleList" parameterType="Map" resultType="Map">
		SELECT sa.*, cu.telephone ,cbu.name as create_name FROM spec_article sa
		left join common_user cu on sa.spec_id = cu.id
		left join common_backend_user cbu on sa.create_user_id=cbu.id
		WHERE status = '0'
		<if test="spec_id != null and spec_id != ''">
			and sa.spec_id = #{spec_id}
		</if>
		<if test="title != null and title != ''">
			and (sa.title LIKE CONCAT('%',#{title},'%') or sa.author LIKE CONCAT('%',#{title},'%'))
		</if>
		<if test="status != null and status != '' and status != '-1'">
			AND sa.is_audit = #{status}
		</if>
		<if test="start != null and start != ''">
			AND sa.publish_time &gt; #{start}
		</if>
		<if test="end != null and end != ''">
			AND sa.publish_time &lt; #{end}
		</if>
		ORDER BY publish_time DESC
	</select>
	
	<select id="articleDetail" parameterType="String" resultType="Map">
		select a.id,a.title,a.author,a.spec_id,b.name,concat(concat(b.name,"("),b.telephone,")") as name_tel,a.publish_time,a.article_type,b.telephone,a.img_url,a.content from spec_article a left join common_user b on 
		a.spec_id = b.id where a.id = #{id}
	</select>
	
    <select id="caseList" parameterType="java.lang.String" resultType="Map">
    	SELECT
			sc.id,
			sc.title,
			si.img_url, 
			sc.publish_time
		FROM
			spec_case sc
			LEFT JOIN spec_issue si ON sc.issue_id = si.id
			LEFT JOIN spec_issue_association sia ON sia.issueid = si.id
		WHERE  sia.specid = #{spec_id}
    </select>
    <select id="caseDetail" parameterType="java.lang.String" resultType="Map">
    	SELECT
    		sc.id,
			sc.title,
			sc.content,
			sc.publish_time,
			sc.issue_id,
			si.issue_desc,
			si.img_url,
			si.video_url,
			si.issue_time,
			si.issue_address,
			si.issue_user_id
		FROM
			spec_case sc
			LEFT JOIN spec_issue si ON sc.issue_id = si.id
		WHERE sc.id = #{id}
    </select>
    
    
    <insert id="insertIssue" parameterType="com.bonc.medicine.entity.mall.Issue" useGeneratedKeys="true" keyProperty="id">
		insert into spec_issue (issue_desc,img_url,video_url,is_public,issue_time,issue_address,issue_user_id,
		issue_status,score,follow_days,is_revisited,revisited_mark,cat_code,sub_code,field_ids) 
		values (#{issue_desc},#{img_url},#{video_url},#{is_public},#{issue_time},#{issue_address},#{issue_user_id},
		#{issue_status},#{score},#{follow_days},#{is_revisited},#{revisited_mark},#{cat_code},#{sub_code},#{field_ids})
	</insert>
	
	<insert id="insertIssueRel" parameterType="Map">
		insert into spec_issue_association (specid, issueid, is_assigned) 
			values 
			<foreach collection="list" separator="," item="item" >
				(#{item.specid},#{item.issueid},#{item.is_assigned})
			</foreach>
	</insert>
	
	<select id="myIssues" parameterType="java.lang.String" resultType="Map">
		SELECT
			si.id,
			si.issue_desc,
			sia.is_assigned,
			sif.name,
			sif.head_portrait
		FROM
			spec_issue si
			LEFT JOIN spec_issue_association sia ON si.id = sia.issueid 
			LEFT JOIN spec_info sif ON sia.specid = sif.spec_id
		WHERE
			si.issue_user_id = #{user_id}
	</select>
	
	<select id="issueDetail" parameterType="java.lang.String" resultType="Map">
		SELECT
			si.id,
			si.issue_desc,
			si.img_url,
			si.video_url,
			si.issue_time,
			si.issue_address,
			si.follow_days,
			cmv.variety_name,
			ds.subject_name,
			si.field_ids,
			(CASE si.issue_status WHEN 0 THEN '未处理'
				WHEN 1 THEN '进行中'
				WHEN 2 THEN '已解决'
				WHEN 3 THEN '已关闭'
			END ) status,

			cu.name,
			cu.head_portrait,
			cu.telephone
		FROM
			spec_issue si
			LEFT JOIN common_user cu ON si.issue_user_id = cu.id
			Left join dict_subject ds ON si.sub_code = ds.subject_code
			left join common_medicine_variety cmv ON cmv.variety_code = si.cat_code
		WHERE
			si.id = #{issue_id}
	</select>
	
	<insert id="uploadFile" parameterType="java.util.Map">
		INSERT INTO spec_upload_file ( title, spec_id, file_size, file_url, upload_time, status ) 
		VALUE
			( #{title},#{spec_id},#{file_size},#{file_url},#{upload_time},#{status} )
	</insert>
	
	<select id="videoList" parameterType="java.util.Map" resultType="Map">
		select tvc.*, cu.telephone,cbu.name as create_name from train_video_course tvc
		left join common_user cu on tvc.spec_id = cu.id
		left join common_backend_user cbu on tvc.user_id=cbu.id
		WHERE 1=1
		<if test="spec_id != null and spec_id != ''">
			and tvc.spec_id = #{spec_id}
		</if>
		<if test="title != null and title != ''">
			and (tvc.title LIKE CONCAT('%',#{title},'%') or tvc.lecturer_name LIKE CONCAT('%',#{title},'%'))
		</if>
		<if test="status != null and status != '' and status != '-1'">
			AND tvc.operation_status = #{status}
		</if>
		<if test="start != null and start != ''">
			AND tvc.publish_time &gt; #{start}
		</if>
		<if test="end != null and end != ''">
			AND tvc.publish_time &lt; #{end}
		</if>
		ORDER BY publish_time DESC
	</select>
	
	<select id="uploadRecord" parameterType="java.util.Map" resultType="Map">
		select * from spec_upload_file 
		where 1=1
		<if test="spec_id != null and spec_id != ''">
			and spec_id = #{spec_id}
		</if>
		<if test="title != null and title != ''">
			and title LIKE CONCAT('%',#{title},'%')
		</if>
		<if test="status != null and status != '' and status != '-1'">
			AND status = #{status}
		</if>
		<if test="start != null and start != ''">
			AND upload_time &gt; #{start}
		</if>
		<if test="end != null and end != ''">
			AND upload_time &lt; #{end}
		</if>
		order by upload_time desc
	</select>
	
	<update id="is_downloaded" parameterType="String" >
		update spec_upload_file SET status = 1 WHERE id = #{id}
	</update>
	
</mapper>
