<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.bonc.medicine.mapper.mall.ViewTheDataMapper">

	<select id="interaction" parameterType="Map" resultType="Map">
		select
		interact_count,stats_time from spec_interact_stats where spec_id
		= #{user_id}
		and stats_time <![CDATA[ >= ]]>
		#{start_time} and stats_time <![CDATA[ <= ]]>
		#{end_time}
	</select>

	<select id="thisWeekInteraction" parameterType="Map" resultType="Map">
		select
		IFNULL(sum(interact_count),0) as sum from spec_interact_stats
		where spec_id
		= #{user_id}
		and stats_time <![CDATA[ >= ]]>
		#{start_time} and stats_time <![CDATA[ <= ]]>
		#{end_time}
	</select>

	<select id="historyInteraction" parameterType="Map" resultType="Map">
		select
		IFNULL(sum(interact_count),0) as sum from spec_interact_stats
		where spec_id
		= #{user_id}
		and stats_time <![CDATA[ >= ]]>
		#{start_time} and stats_time <![CDATA[ <= ]]>
		#{end_time}
	</select>

	<select id="rankInteraction" resultType="Map">
		<if test="user_id == null or user_id =='' ">
			SELECT
			*,
			( follow + wz + sp + issue ) AS total
			FROM
			(
			SELECT
			IFNULL( b.id, '' ) AS user_id,
			IFNULL( b.head_portrait, '' ) AS
			head_portrait,
			IFNULL( b.NAME, '' ) AS NAME,
			( SELECT count( 1 ) AS
			follow FROM common_follow WHERE follow_flag = '1' AND object_id =
			a.spec_id ) AS 'follow',
			(
			SELECT
			count( 1 ) AS 'wz'
			FROM
			common_collection cc
			INNER JOIN spec_article sa ON
			cc.collect_object_id = sa.id
			WHERE
			cc.collect_type = '2'
			AND sa.STATUS =
			'0'
			AND sa.spec_id = a.spec_id
			) AS 'wz',
			(
			SELECT
			count( 1 ) AS 'sp'
			FROM
			common_collection cc
			INNER JOIN train_video_course tvc ON
			cc.collect_object_id = tvc.id
			WHERE
			cc.collect_type = '5'
			AND tvc.STATUS
			= '0'
			AND tvc.spec_id = a.spec_id
			) AS 'sp',
			( SELECT count( 1 ) AS
			issue FROM spec_issue_association
			WHERE ( is_assigned = '0' OR
			is_assigned = '1' ) AND specid =
			a.spec_id ) AS 'issue'
			FROM
			spec_info a
			INNER JOIN common_user b ON a.spec_id = b.id
			) AS temp
			ORDER BY
			total
			DESC
			LIMIT 0,
			10
		</if>
		<if test="user_id != null and user_id !='' ">
			SELECT
			*,
			( follow + wz + sp + issue ) AS total
			FROM
			(
			SELECT
			IFNULL( b.id, '' ) AS user_id,
			IFNULL( b.head_portrait, '' ) AS
			head_portrait,
			IFNULL( b.NAME, '' ) AS NAME,
			( SELECT count( 1 ) AS
			follow FROM common_follow WHERE follow_flag = '1' AND object_id =
			a.spec_id ) AS 'follow',
			(
			SELECT
			count( 1 ) AS 'wz'
			FROM
			common_collection cc
			INNER JOIN spec_article sa ON
			cc.collect_object_id = sa.id
			WHERE
			cc.collect_type = '2'
			AND sa.STATUS =
			'0'
			AND sa.spec_id = a.spec_id
			) AS 'wz',
			(
			SELECT
			count( 1 ) AS 'sp'
			FROM
			common_collection cc
			INNER JOIN train_video_course tvc ON
			cc.collect_object_id = tvc.id
			WHERE
			cc.collect_type = '5'
			AND tvc.STATUS
			= '0'
			AND tvc.spec_id = a.spec_id
			) AS 'sp',
			( SELECT count( 1 ) AS
			issue FROM spec_issue_association
			WHERE ( is_assigned = '0' OR
			is_assigned = '1' ) AND specid =
			a.spec_id ) AS 'issue'
			FROM
			spec_info a
			INNER JOIN common_user b ON a.spec_id = b.id
			) AS temp
			ORDER BY
			total
			DESC , user_id DESC
		</if>
	</select>

	<select id="myResources" parameterType="Map" resultType="Map">
		SELECT
		(
		SELECT count( 1 ) FROM train_live WHERE id IN ( SELECT object_id FROM
		train_appointment WHERE user_id = #{user_id} AND object_type = 1 ) )
		AS zb,
		( SELECT count( 1 ) FROM train_video_course WHERE id IN ( SELECT
		object_id FROM train_appointment WHERE user_id = #{user_id} AND
		object_type = 2 ) ) AS px,
		( SELECT count( 1 ) FROM train_video_course
		WHERE spec_id = #{user_id}
		) AS sp,
		( SELECT count( 1 ) FROM
		spec_article WHERE STATUS = '0' AND spec_id =
		#{user_id} ) AS wz
	</select>

	<select id="problemStatistics" parameterType="Map" resultType="Map">
		SELECT
		(
		SELECT
		count( 1 )
		FROM
		spec_issue a
		LEFT JOIN
		spec_issue_association b ON a.id = b.issueid
		LEFT JOIN spec_info c ON
		b.specid = c.spec_id
		WHERE
		b.specid = #{user_id}
		AND issue_time <![CDATA[ >= ]]>
		#{start_time}
		AND issue_time <![CDATA[ <= ]]>
		#{end_time}
		) AS askme,
		(
		SELECT
		count( 1 )
		FROM
		spec_issue a
		LEFT JOIN
		spec_issue_association b ON a.id = b.issueid
		LEFT JOIN spec_info c ON
		b.specid = c.spec_id
		WHERE
		b.specid = #{user_id}
		AND ( issue_status = '2'
		OR issue_status = '3' )
		AND issue_time <![CDATA[ >= ]]>
		#{start_time}
		AND issue_time <![CDATA[ <= ]]>
		#{end_time}
		) AS solve,
		(
		SELECT
		count( 1 )
		FROM
		spec_issue a
		LEFT JOIN
		spec_issue_association b ON a.id = b.issueid
		LEFT JOIN spec_info c ON
		b.specid = c.spec_id
		WHERE
		b.specid = #{user_id}
		AND ( is_public = '1' )
		AND issue_time <![CDATA[ >= ]]>
		#{start_time}
		AND issue_time <![CDATA[ <= ]]>
		#{end_time}
		) AS public
	</select>

</mapper>
