<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.bonc.medicine.mapper.user.UserManagerMapper">

	<insert id="addBasic" parameterType="com.bonc.medicine.entity.user.Basicinfo"
		useGeneratedKeys="true" keyProperty="id">
		Insert into common_user
		(telephone,name,password,sex,age,address)
		values(#{telephone},#{name},#{password},#{sex},#{age},#{address});
	</insert>

	<update id="updateBasic" parameterType="Map">
		update common_user set
		name = #{name} ,sex = #{sex} ,age = #{age} , address = #{address},
		head_portrait = #{img_url} where id = #{id}
	</update>

	<update id="updateField_coop" parameterType="Map">
		update field_coop
		set age = #{age} , address = #{address} ,official_user_name = #{name}
		where official_user_id = #{id}
	</update>

	<update id="updateField_coop_member" parameterType="Map">
		update
		field_coop_member set name = #{name} ,sex = #{sex}, age = #{age}
		,address = #{address} ,img_url = #{img_url} where user_id = #{id}
	</update>

	<insert id="addUserRoleRel" parameterType="Map">
		Insert into
		common_user_role_rel
		(user_id,role_id)
		values(#{user_id},#{role_id});
	</insert>

	<insert id="addExpert" parameterType="com.bonc.medicine.entity.user.Expert">
		Insert into spec_info
		(spec_id,name,employment_age,education,expertise_field,professional_direction,title,company,detail)
		values(#{spec_id},#{name},#{employment_age},#{education},#{expertise_field},#{professional_direction},#{title},#{company},#{detail});
	</insert>

	<insert id="addCatRel" parameterType="Map">
		Insert into
		spec_cat_rel
		(spec_id,cat_id)
		values(#{id},#{cat_rel_id});
	</insert>

	<insert id="addSubject_rel" parameterType="Map">
		Insert into
		spec_subject_rel
		(spec_id,subject_id)
		values(#{id},#{subject_rel_id});
	</insert>

	<insert id="addCooperative" parameterType="com.bonc.medicine.entity.user.Cooperative">
		Insert into
		field_coop
		(name,official_user_id,official_user_name,address,img_url,cultivar,introduce)
		values(#{name},#{official_user_id},#{official_user_name},#{address},#{img_url},#{cultivar},#{introduce});
	</insert>

	<select id="basicInfo" parameterType="Map" resultType="Map">
		SELECT
		a.id,
		a.NAME,
		a.age,
		a.sex,
		a.telephone,
		a.address,
		a.log_time,
		GROUP_CONCAT( DISTINCT (
		c.chinese_name ) ) AS care_name,
		GROUP_CONCAT(
		DISTINCT ( e.role_name )
		) AS role_name,
		a.head_portrait
		FROM
		common_user
		a left join
		common_user_care_varieties_r b on a.id = b.user_id left
		join
		km_variety_encyclopedia c on b.variety_code = c.id left join
		common_user_role_rel d on a.id = d.user_id left join
		common_role e on
		d.role_id = e.id where a.id = #{id}
	</select>

	<update id="userStatus" parameterType="Map">
		update common_user set
		status = #{status} where id = #{id}
	</update>

	<select id="fans" parameterType="Map" resultType="Map">
		select
		IFNULL(count(1),0) as fans from common_follow where object_id = #{id}
	</select>

	<select id="care" parameterType="Map" resultType="Map">
		select
		IFNULL(count(1),0)
		as care from common_follow where follow_user_id =
		#{id}
	</select>

	<select id="integral" parameterType="Map" resultType="Map">
		select
		IFNULL(sum(current_integral),0) as current_integral from
		common_integral where user_id = #{id}
	</select>

	<select id="issue" parameterType="Map" resultType="Map">
		select
		IFNULL(count(1),0) as issue from spec_issue where issue_user_id =
		#{id}
	</select>

	<select id="supply" parameterType="Map" resultType="Map">
		select
		IFNULL(count(1),0) as supply from mall_supply where state ='0' and
		seller_id =
		#{id}
	</select>

	<select id="purchase" parameterType="Map" resultType="Map">
		select
		IFNULL(count(1),0) as purchase from mall_purchase where state ='1' and
		user_id =
		#{id}
	</select>

	<select id="field" parameterType="Map" resultType="Map">
		select
		IFNULL(count(1),0) as field from field_info where state ='1' and
		user_id = #{id}
	</select>

	<select id="userlist" parameterType="Map" resultType="Map">
		SELECT
		*
		FROM
		(
		SELECT
		a.id AS user_id,
		a.NAME,
		IFNULL( GROUP_CONCAT(
		c.role_name ORDER BY c.role_name DESC ), '' ) AS
		a_role,
		a.telephone,
		''
		AS coop,
		'' AS HELP,
		'' AS integral,
		'' AS supply,
		'' AS purchase,
		STATUS
		FROM
		common_user a
		LEFT JOIN common_user_role_rel b ON a.id = b.user_id
		LEFT JOIN common_role c ON b.role_id = c.id
		where 1 = 1
		<if test="tel != '' and tel != null">
			and a.telephone LIKE CONCAT( '%', #{tel}, '%' )
		</if>
		<if test="startTime != '' and startTime != null">
			AND
			str_to_date(#{startTime},'%Y-%m-%d') <![CDATA[ < ]]>
			log_time
		</if>
		<if test="endTime !='' and endTime != null">
			AND str_to_date(#{endTime},'%Y-%m-%d') <![CDATA[ > ]]>
			log_time
		</if>
		GROUP BY
		a.id
		) AS temp
		WHERE 1 = 1
		<if test="role !='' and role != null">
			AND a_role LIKE CONCAT( '%', #{role}, '%' )
		</if>
		ORDER BY
		user_id
	</select>

	<select id="coop_hrlp_list" resultType="Map">
		select
		IFNULL(a.user_id,'') AS user_id , b.name , a.assistant from
		field_coop_member a left join field_coop b on a.coop_id = b.id
	</select>

	<select id="integrallist" resultType="Map">
		select
		user_id,current_integral from common_integral
	</select>

	<select id="supplylist" resultType="Map">
		select seller_id as
		user_id,count(1) as supply from mall_supply where state = '0' and
		is_audit = '1' and carriage_status = '1' GROUP BY (seller_id)
	</select>

	<select id="purchaselist" resultType="Map">
		select user_id,count(1) as
		purchase from mall_purchase where state = '1' and is_aduit = '1' group
		by user_id
	</select>

	<select id="queryUserInfo" resultType="Map" parameterType="Integer">
		SELECT id,head_portrait,name,sex,age,address,telephone,
		CASE WHEN
		LOCATE(5,GROUP_CONCAT(B.role_id))=0 THEN 0 ELSE 1 END as isSpc,
		CASE
		WHEN LOCATE(1,GROUP_CONCAT(B.role_id))=0 THEN 0 ELSE 1 END as
		isPlant
		FROM common_user A , common_user_role_rel B

		WHERE id= #{userID} AND
		A.id=B.user_id

	</select>

	<select id="getActiveAndhudong" resultType="Map" parameterType="Integer">
		SELECT
		interact_count,
		active_count
		FROM
		spec_interact_stats
		WHERE
		spec_id =
		#{userId}
	</select>

	<select id="getUserCarePinZhong" resultType="Map" parameterType="Integer">
		SELECT
		GROUP_CONCAT(variety_name) as loveMedicineName,
		GROUP_CONCAT(ccr.variety_code) as loveMedicineID
		FROM
		common_user_care_varieties_r ccr
		LEFT JOIN common_medicine_variety cv
		ON ccr.variety_code = cv.variety_code
		WHERE
		ccr.user_id = #{userId}
	</select>

	<delete id="deleteUserPlantRole" parameterType="Integer">
		DELETE FROM
		common_user_role_rel WHERE user_id= #{userID} AND role_id=1
	</delete>

	<insert id="insertUserPlantRole" parameterType="Integer">
		INSERT INTO
		common_user_role_rel(user_id,role_id) VALUES (#{userID},1)
	</insert>

	<delete id="deleteUserCareVariety" parameterType="Integer">
		DELETE FROM
		common_user_care_varieties_r WHERE user_id = #{userID}
	</delete>

	<insert id="insertUserCareVariety">
		INSERT INTO common_user_care_varieties_r (user_id,variety_code) VALUES
		<foreach collection="list" item="temp" separator=",">
			(#{temp.userID}, #{temp.variety_code})
		</foreach>
	</insert>

</mapper>
