<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.bonc.medicine.mapper.knowledgebase.SopMapper">
    <select id="getSopStandards" resultType="Map">
		SELECT
		kvs.id,kve.variety_name chinese_name ,kvs.record_time,kvs.sop_type,kvs.record_status,cbu.name,cbu.id
		FROM
		km_variety_sop kvs LEFT JOIN common_medicine_variety kve ON kvs.variety_id=kve.variety_code LEFT JOIN
        common_backend_user cbu ON kvs.record_user_id = cbu.id
        WHERE sop_status=1
        <if test="sop_type != null and sop_type != '' and sop_type != -1">
			AND kvs.sop_type = #{sop_type}
		</if>
        <if test="record_status != null and record_status != '' and record_status != -1">
			AND kvs.record_status = #{record_status}
		</if>
		order by kvs.record_time DESC
	</select>

 <!--   <select id="getSopPlants" resultType="java.util.Map">
		SELECT *,km_audit.fail_opinion AS your_fail_opinion  FROM km_sop_step,km_variety_sop,km_audit
		WHERE km_sop_step.sop_id = #{id}
		AND sop_id =km_variety_sop.id
		AND km_variety_sop.sop_status=1
		AND km_sop_step.status=1
		AND km_audit.object_id = .id AND km_km_variety_sopaudit.km_type = 4
        ORDER BY
		km_sop_step.step_order
    </select>-->
	<select id="getSopPlants" resultType="java.util.Map">
		SELECT p.*,sp.fail_opinion AS your_fail_opinion
		FROM km_variety_sop sp
		INNER JOIN km_sop_step p ON sp.id = p.sop_id
		WHERE
		<if test="variety_id != null and variety_id != ''">
			sp.variety_id = #{variety_id}
			AND sp.record_status = '3'
		</if>
		<if test="sop_id != null and sop_id != ''">
			sp.id = #{sop_id}
			AND sp.record_status = '2'
		</if>
		AND sp.sop_status = '1'
		AND p.status = '1'
		ORDER BY p.step_order
	</select>


	<insert id="sopAdd" parameterType="java.util.Map" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO km_variety_sop (
			variety_id,
			record_time,
			record_user_id,
			sop_type,
			record_status,
			fail_opinion,
		sop_status
		)
		VALUES
			(#{variety_id},
		now(),
			#{record_user_id},
			#{sop_type},
			#{record_status},
			#{fail_opinion},
		#{sop_status}
		)
	</insert>

	<insert id="sopStepAdd" parameterType="java.util.Map" useGeneratedKeys="true">
		INSERT INTO km_sop_step (
			sop_id,
			step_name,
			short_desc,
			detail_desc,
			next_suggestion,
			recommendation,
		step_order,
		audio_url,
		example_url,
		status
		)
		VALUES
		<foreach collection="list" item="item" index="index" separator=",">
			(
			#{item.sop_id},
			#{item.step_name},
			#{item.short_desc},
			#{item.detail_desc},
			#{item.next_suggestion},
			#{item.recommendation},
			#{item.step_order},
			#{item.audio_url},
			#{item.example_url},
			1
			)
		</foreach>
	</insert>

	<update id="sopUpdata" parameterType="java.util.Map">
		UPDATE km_variety_sop
		<set>
			<if test="sop_type != null">sop_type=#{sop_type},</if>
			<if test="record_user_id != null">record_user_id=#{record_user_id},</if>
			<if test="update_time != null">update_time=now(),</if>
			record_status = '2'
		</set>
		WHERE id = #{id}
	</update>

	<update id="sopStepUpdata"  parameterType="java.util.Map">
		<foreach collection="list" item="item" index="index" open="" close="" separator=";">
			update km_sop_step
			<set>
				step_name=#{item.step_name},
				short_desc=#{item.short_desc},
				detail_desc=#{item.detail_desc},
				next_suggestion=#{item.next_suggestion},
                recommendation=#{item.recommendation},
                audio_url=#{item.audio_url},
				example_url=#{item.example_url},
				status=1
			</set>
			where sop_id = #{id}) AND
			step_order=#{item.step_order}
		</foreach>
	</update>

    <update id="sopDelete" parameterType="java.lang.Integer">
		UPDATE km_variety_sop SET sop_status = 0
		WHERE id = #{id}
	</update>

    <update id="sopCancel" parameterType="java.lang.Integer">
        UPDATE km_variety_sop SET record_status=5
		WHERE id = #{id}
    </update>

	<select id="getSopLists" resultType="Map">
		SELECT variety_name chinese_name,variety_code id FROM common_medicine_variety WHERE variety_code NOT IN (SELECT variety_id FROM km_variety_sop WHERE
		sop_status = 1)
	</select>

	<select id="getStep" resultType="Map">
		SELECT * FROM km_sop_step
		WHERE
		sop_id = #{id}
			AND
			step_order = #{step_order}
			AND
			status = 1
	</select>

	<update id="delStep">
		UPDATE km_sop_step SET status = 0
		WHERE
		sop_id = #{id}
			AND
			step_order = #{step_order}
	</update>

	<update id="tombstoneStep">
		UPDATE km_sop_step SET status = 0
		WHERE
		sop_id = #{id}
	</update>

</mapper>
