<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bonc.medicine.mapper.information.CommonMapper">
    <select id="query" resultType="java.util.LinkedHashMap">
        ${sql}
    </select>
    <insert id="insert">
        ${sql}
    </insert>
    <update id="update">
        ${sql}
    </update>
    <select id="getCount" resultType="java.lang.Integer">
        select count(1) from ${name}
        <if test="where != null">
            ${where}
        </if>
    </select>

    <update id="updateTrainStatus">
        UPDATE train_offline  set `status` =
        (case WHEN str_to_date(train_time,'%Y-%m-%d')<![CDATA[ < ]]> str_to_date(CURDATE(),'%Y-%m-%d')
        THEN '2'
        WHEN str_to_date(train_time,'%Y-%m-%d')= str_to_date(CURDATE(),'%Y-%m-%d')
        THEN '1'
        WHEN str_to_date(train_time,'%Y-%m-%d')<![CDATA[ > ]]> str_to_date(CURDATE(),'%Y-%m-%d')
        THEN '0'
        END);

        UPDATE train_live
        SET `status` = (
        CASE
        WHEN  str_to_date(live_start, '%Y-%m-%d') <![CDATA[ < ]]>  CURDATE() THEN
        '2'
        WHEN str_to_date(live_start, '%Y-%m-%d') = CURDATE() THEN
        '1'
        WHEN str_to_date(live_start, '%Y-%m-%d') <![CDATA[ > ]]> CURDATE() THEN
        '0'
        END
        );
    </update>
</mapper>