<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bonc.medicine.mapper.field.Co_opManageMapper">

	<insert id="insertCo_op" parameterType="com.bonc.medicine.entity.field.Co_op">
		INSERT INTO field_coop
		(name,introduce,total_area,img_url,portrait,cultivar,
		age,telephone,address,official_user_id,official_user_name,establish_date,photo_url,state,is_audit,comment)
		VALUES
		(#{name},#{introduce},#{total_area},#{img_url},#{portrait},#{cultivar},
		#{age},#{telephone},#{address},#{official_user_id},#{official_user_name},#{establish_date},#{photo_url},#{state},#{is_audit},#{comment})
	</insert>

	<insert id="insertCo_opMember" parameterType="com.bonc.medicine.entity.field.Co_op_Member">
		INSERT INTO
		field_coop_member
		(name,img_url,sex,age,telephone,address,plant_age,plant_cat_id,plant_area,
		coop_id,user_id,assistant,state)
		VALUES
		(#{name},#{img_url},#{sex},#{age},#{telephone},#{address},#{plant_age},
		#{plant_cat_id},#{plant_area},#{coop_id},#{user_id},#{assistant},#{state})
	</insert>


	<select id="queryCo_opByCondition" resultType="Map" parameterType="Map">
		SELECT A.id AS coopID,A.name AS coopName,A.introduce,A.total_area ,A.img_url,A.portrait,
		       A.cultivar,A.age,A.telephone,A.address,A.official_user_id AS adminID,
		       A.official_user_name AS adminName,A.establish_date,A.photo_url,A.is_audit,
		       A.comment    ,D.role
		FROM field_coop A ,
		( SELECT B.user_id,GROUP_CONCAT(C.role_name) AS role
		  FROM common_user_role_rel B , common_role C
		  WHERE B.role_id = C.id GROUP BY B.user_id
		) D
		WHERE A.official_user_id = D.user_id  AND A.state= '0'

		<if test="is_audit != null and is_audit != ''">
			AND A.is_audit = #{is_audit}
		</if>

		<if test="coopID != null and coopID != ''">
		  AND A.id = #{coopID}
		</if>

		<if test="coopName != null and coopName != ''">
			AND A.name LIKE CONCAT('%',#{coopName}, '%')
		</if>

		<if test="tel != null and tel != ''">
			AND A.telephone LIKE CONCAT('%',#{tel}, '%')
		</if>

		<if test="userID != null and userID != ''">
			AND A.official_user_id = #{userID}
		</if>

		<if test="userName != null and userName != ''">
			AND A.official_user_name LIKE CONCAT('%',#{userName}, '%')
		</if>

		<if test="keyWord != null and keyWord != ''">
			AND (
			A.name LIKE CONCAT('%',#{keyWord}, '%') OR A.official_user_name LIKE CONCAT('%',#{keyWord}, '%')
			)
		</if>

		<if test='start_time != null and start_time != "" and end_time != null and end_time != "" '>
			AND A.establish_date >= #{start_time}  AND #{end_time} >= A.establish_date
		</if>

	</select>


	<select id="queryPlantNum" resultType="Map" parameterType="Integer">
		SELECT count(*) AS PlantNUM FROM field_coop_member A ,field_info B
		WHERE A.coop_id= #{coop_id} AND A.state='0' AND (A.user_id =B.user_id)
	</select>

	<select id="queryAssistantNum" resultType="Map" parameterType="Integer">
		SELECT count(*) AS AssistantNum FROM field_coop_member
		WHERE assistant
		='0' AND state='0' AND coop_id = #{coop_id}
	</select>

	<select id="queryCo_opMemberNum" resultType="Map" parameterType="Integer">
		SELECT count(*) AS Co_opMemberNum FROM field_coop_member
		WHERE
		state='0' AND coop_id = #{coop_id}
	</select>

	<select id="queryCo_opNoticeNum" resultType="Map" parameterType="Integer">
		SELECT count(*) AS Co_opNoticeNum FROM field_coop A , common_notice B
		WHERE
		A.state='0' AND B.status= '1' AND B.notice_type='2' AND A.id = B.object_id  AND A.id = #{coop_id}
	</select>

	<select id="queryUserID" resultType="Map">

		SELECT
		'common' AS
		table_name,id,name
		FROM
		common_user
		WHERE
		telephone = #{tel}
		UNION
		SELECT
		'admin' AS table_name,id,name
		FROM
		common_backend_user
		WHERE
		telephone =
		#{tel}

	</select>

	<select id="queryCo_opMember" resultType="Map">
		SELECT * FROM
		field_coop_member WHERE state = '0' AND id = #{ID}
	</select>

	<select id="queryAssistant" resultType="Map" parameterType="Integer">
		SELECT id,name,img_url,assistant,user_id FROM field_coop_member
		WHERE assistant ='0' AND
		state='0' AND coop_id = #{coop_id}
	</select>

	<select id="queryNotAssistant" resultType="Map" parameterType="Integer">
		SELECT id,name,img_url,assistant,user_id FROM field_coop_member
		WHERE (assistant ='1' OR
		assistant IS NULL) AND state='0' AND coop_id =
		#{coop_id}
	</select>

	<select id="queryCoopMemberList" resultType="Map" parameterType="Integer">
		SELECT A.id, A.user_id,A.name,A.img_url,count(*) AS PlantNUM FROM
		field_coop_member A,field_info B
		WHERE A.coop_id=#{coop_id} AND
		A.state='0' AND A.user_id = B.user_id
		GROUP BY
		A.name,A.img_url,A.user_id
	</select>

	<select id="queryCoopMemberList2" resultType="Map" parameterType="Integer">
		SELECT A.*,
              CASE  WHEN A.user_id IS NULL THEN 0
              ELSE (SELECT count(*) FROM field_info B WHERE B.user_id = A.user_id) END AS PlantNUM
        FROM field_coop_member A
		WHERE A.coop_id=#{coop_id} AND A.state='0'
		GROUP BY
		A.name,A.img_url,A.user_id
	</select>


	<select id="affiliatedCo_op" resultType="Map" parameterType="Integer">
		select coop_id,name,img_url,assistant,0 as total from
		field_coop_member where user_id = #{user_id}
	</select>

	<select id="co_opTotal" resultType="Map" parameterType="Integer">
		select
		count(1) as total from field_coop_member where coop_id = #{coop_id}
	</select>

	<update id="updateCo_op" parameterType="com.bonc.medicine.entity.field.Co_op">
		UPDATE field_coop SET state = #{state}
		<if test="name != null and name != ''">
			,name = #{name}
		</if>

		<if test="address != null and address != ''">
			,address = #{address}
		</if>

		<if test="img_url != null and img_url != ''">
			,img_url = #{img_url}
		</if>

		<if test="is_audit != null and is_audit != ''">
			,is_audit = #{is_audit}
		</if>

		<if test="comment != null and comment != ''">
			,comment = #{comment}
		</if>

		WHERE id = #{id}
	</update>


	<update id="updateCo_opMember" parameterType="com.bonc.medicine.entity.field.Co_op_Member">
		UPDATE field_coop_member SET state = #{state}
		<if test="name != null and name != ''">
			,name = #{name}
		</if>
		<if test="img_url != null and img_url != ''">
			,img_url = #{img_url}
		</if>
		<if test="sex != null and sex != ''">
			,sex = #{sex}
		</if>
		<if test="age != null and age != ''">
			,age = #{age}
		</if>
		<if test="telephone != null and telephone != ''">
			,telephone = #{telephone}
		</if>
		<if test="address != null and address != ''">
			,address = #{address}
		</if>

		<if test="plant_age != null and plant_age != ''">
			,plant_age = #{plant_age}
		</if>

		<if test="plant_cat_id != null and plant_cat_id != ''">
			,plant_cat_id = #{plant_cat_id}
		</if>
		<if test="plant_area != null and plant_area != ''">
			,plant_area = #{plant_area}
		</if>
		<if test="assistant != null and assistant != ''">
			,assistant = #{assistant}
		</if>
		WHERE id = #{id}
	</update>

	<select id="findAllMember" resultType="Map" parameterType="Map">
		SELECT
		coop_id,GROUP_CONCAT( b.user_id ) AS all_user_id
		FROM
		field_coop a
		LEFT
		JOIN field_coop_member b ON a.id = b.coop_id
		WHERE
		a.official_user_id =
		#{user_id}
		AND b.state = '0'
	</select>

	<insert id="addNotice" parameterType="Map">
		insert
		into common_notice
		(notice_type,object_id,notice_content,publish_user_id,notice_receiver,publish_time,status,state,picture_url)
		values('2',#{object_id},#{msg},#{publish_user_id},#{allUserId},#{time},'1','1',#{picture_url})
	</insert>

	<update id="noticeState" parameterType="Map">
		update common_notice set
		state = #{state} where id = #{id}
	</update>

	<update id="deleteNotice" parameterType="Map">
		update common_notice set
		status = '0' where id = #{id}
	</update>

	<select id="noticeDetail" parameterType="Map" resultType="Map">
		select
		* from common_notice where id = #{id}
	</select>

	<update id="updateNotice" parameterType="Map">
		update common_notice set
		notice_content = #{msg} where id = #{id}
	</update>

	<insert id="addRoleNotice" parameterType="com.bonc.medicine.entity.field.Notice">
		insert
		into
		common_notice
		(notice_type,notice_content,notice_role_type,publish_time,status,state)
		values('1',#{notice_content},#{notice_role_type},#{publish_time},'1','1')
	</insert>

	<select id="noticelist" parameterType="Map" resultType="Map">
		select * from common_notice where notice_type = '1' and status='1'
		<if test="msg != null and msg != ''">
			AND notice_content LIKE
			CONCAT(CONCAT('%',#{msg}),'%')
		</if>
		<if test="role != null and role != ''">
			AND notice_role_type = #{role}
		</if>
		<if test="start_time != null and start_time != ''">
			AND publish_time <![CDATA[ >= ]]>
			#{start_time}
		</if>
		<if test="end_time != null and end_time != ''">
			AND publish_time <![CDATA[ <= ]]>
			#{end_time}
		</if>
	</select>


	<select id="getCoopNoticeList" parameterType="Integer" resultType="Map">
		SELECT notice_content,picture_url,publish_time  FROM common_notice
		WHERE notice_type='2' AND status='1' AND object_id = #{coopID}
		ORDER BY publish_time DESC
	</select>

	<update id="updateCoopTotalAreaAdd" >
		UPDATE field_coop SET total_area = total_area + #{area} WHERE id = #{coopID}
	</update>

	<update id="updateCoopTotalAreaReduce" parameterType="Integer">
		UPDATE field_coop SET total_area = total_area - (SELECT plant_area FROM field_coop_member WHERE id=#{ID})
        WHERE id = (SELECT coop_id FROM field_coop_member WHERE id=#{ID})
	</update>

	<insert id="insertCommon_user_role_rel" parameterType="Integer">
		INSERT common_user_role_rel (user_id,role_id)
		VALUES (( SELECT official_user_id FROM field_coop WHERE id= #{coopID}) ,3)
	</insert>

</mapper>