<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.bonc.medicine.mapper.management.CollectionMapper">
	
	<insert id="collect" parameterType="Map" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO common_collection (
			user_id,
			collect_type,
			collect_object_id,
			collect_url,
			collect_time
		)
		VALUES
			(
			#{user_id},
			#{collect_type},
			#{collect_object_id},
			#{collect_url},
			now()
			);
	</insert>
	
	<select id="searchInfoByCollect" parameterType="String" resultType="java.util.Map">
		SELECT
			a.id,
			a.title,
			a.cat_code,
			b.cat_name,
			a.publish_date
		FROM
			info_basic a
		LEFT JOIN info_category b ON a.cat_code = b.cat_code
		WHERE a.id IN (SELECT collect_object_id FROM common_collection WHERE collect_type=1 AND user_id = #{user_id})
		ORDER BY
			a.publish_date DESC
	</select>

	<select id="searchSupplyByCollect" parameterType="String" resultType="java.util.Map">
		SELECT
			id,
			goods_name,
			img_url,
			specification,
			price,
			price_unit,
		    produce_area,
		    inventory,
	        inventory_unit,
			public_time
		FROM
			mall_supply
		WHERE id IN (SELECT collect_object_id FROM common_collection WHERE collect_type=3 AND user_id = #{user_id})
		ORDER BY
			public_time DESC
	</select>

	<select id="searchPurchaseByCollect" parameterType="String"  resultType="java.util.Map">
		SELECT
			a.*,
			COUNT(a.id) AS askBuy
		FROM
			mall_purchase a
		LEFT JOIN mall_offer b ON a.id = b.purchase_id
		WHERE
			a.id IN (SELECT collect_object_id FROM common_collection WHERE collect_type = 9 AND user_id = #{user_id})
		GROUP BY a.id
		ORDER BY
				publish_time DESC
	</select>

	<select id="searchVideoByCollect" parameterType="String" resultType="Map">
		SELECT
			id,
			title,
			video_url,
			lecturer_name,
			duration,
			img_url,
			STATUS,
			publish_time
		FROM
			train_video_course
		WHERE id IN (SELECT collect_object_id FROM common_collection WHERE collect_type=5 AND user_id = #{user_id})
		ORDER BY
			publish_time DESC
	</select>

	<select id="infoBasicDetail" parameterType="String" resultType="Map">
		SELECT
			a.id,
			a.title,
			b.cat_name,
			a.content,
			a.img_url,
			a.read_count,
			a.publish_date
		FROM
			info_basic a LEFT JOIN info_category b ON a.cat_code = b.cat_code
	 	WHERE id = #{id}
	</select>
	
	<select id="videoCourseDetail" parameterType="String" resultType="Map">
		SELECT
			id,
			title,
			video_type,
			lecturer_name,
			publish_time,
			course_introduce,
			duration,
			video_url,
			img_url,
			status
		FROM
			train_video_course
		WHERE id = #{id}
	</select>

	<select id="mallSupplyDetail" parameterType="String" resultType="Map">
		 SELECT id,goods_name,supply_cat_code,goods_cat_code,price,price_unit,
			img_url,specification,inventory,sales_volumn,produce_area,storehouse,receipt,
			quality_standard,send_sample,payment,packing,detail,tel,linkman
		FROM mall_supply
		WHERE id =#{id}
	</select>

	<select id="mallPurchaseDetail" parameterType="String" resultType="Map">
		SELECT id,goods_name,purchase_cat_code,specification,img_url,publish_time,purchase_quantity,
		produce_area,storehouse,receipt,quality_standard,qualification_standard,
		send_sample,payment,packing,linkman,linkman_phone
		FROM mall_purchase
		WHERE id = #{id}
	</select>
	
	<select id="specCaseDetail" parameterType="String" resultType="Map">
		SELECT * FROM spec_case WHERE id = #{id}
	</select>

	<select id="isCollect" parameterType="Map" resultType="Integer">
		SELECT count(1) FROM common_collection c
		LEFT JOIN (
		SELECT id,5 AS type FROM train_video_course UNION
		SELECT id,2 AS type FROM spec_article UNION
		SELECT id,3 AS type FROM mall_supply UNION
		SELECT id,9 AS type FROM mall_purchase UNION
		SELECT id,1 AS type FROM info_basic)
		a ON c.collect_type = a.type AND c.collect_object_id = a.id
		WHERE c.collect_type = #{collect_type} AND c.collect_object_id = #{collect_object_id} AND c.user_id = #{user_id}
	</select>

	<update id="undoCollect" parameterType="Map">
		DELETE FROM common_collection WHERE collect_type = #{collect_type} AND collect_object_id = #{collect_object_id} AND user_id = #{user_id}
	</update>

	<select id="collectCount" parameterType="Map" resultType="Integer">
		SELECT count(1) FROM common_collection WHERE collect_type=#{collect_type} AND collect_object_id=#{collect_object_id}
	</select>

</mapper>
