<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.bonc.medicine.mapper.management.MallRecommendMapper">
	<select id="searchMallRecommend" parameterType="java.util.Map" resultType="Map">
		SELECT
		a.id,
		a.supply_id,
		a.site,
		c.site_name,
		b.goods_name,
		case WHEN a.state = 0 THEN '正常'
		ELSE '已停用' END AS state
		FROM
		mall_recommend a
		INNER JOIN mall_supply b ON a.supply_id = b.id
		INNER JOIN common_recommend_site c ON a.site = c.id
		WHERE 1 = 1
		<if test="id != null and id != ''">
			and a.id = #{id}
		</if>
		<if test="search_name != null and search_name != ''">
			and b.goods_name LIKE CONCAT("%",#{search_name},"%")
		</if>
		<if test="site != null and site != ''">
			and a.site=#{site}
		</if>
		<if test="start_time != null and start_time != '' and end_time != null and end_time != ''">
			and a.upload_time BETWEEN #{start_time} and  #{end_time}
		</if>
		<if test="start_time == null or start_time == '' and end_time != null and end_time != ''">
			and a.upload_time &lt;= #{end_time}
		</if>
		<if test="start_time != null and start_time == '' and end_time == null or end_time == ''">
			and a.upload_time &gt;= #{start_time}
		</if>
		ORDER BY a.upload_time
	</select>


	<update id="enableMallRecommend" parameterType="String">
		UPDATE mall_recommend SET state = 0 WHERE id = #{id}
	</update>

	<update id="stopMallRecommend" parameterType="String">
		UPDATE mall_recommend SET state = 1 WHERE id = #{id}
	</update>

	<delete id="deleteMallRecommend" parameterType="String">
		DELETE FROM mall_recommend WHERE id = #{id}
	</delete>

</mapper>
