<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.bonc.medicine.mapper.management.MallRecommendMapper">
	<select id="searchMallRecommend" parameterType="java.util.Map" resultType="Map">
		SELECT
			a.id,
			CONCAT_WS(",",a.supply_id1,a.supply_id2,a.supply_id3) AS supply_ids,
			CONCAT_WS(",",a.img_url1,a.img_url2,a.img_url3) AS img_urls,
			CONCAT_WS(",",b.goods_name,c.goods_name,d.goods_name) AS goods_names,
			a.site,
			e.site_name,
			case WHEN a.state = 0 THEN '正常'
			ELSE '已停用' END AS state
		FROM
			mall_recommend a
		LEFT JOIN mall_supply b ON a.supply_id1 = b.id
		LEFT JOIN mall_supply c ON a.supply_id2 = c.id
		LEFT JOIN mall_supply d ON a.supply_id3 = d.id
		INNER JOIN common_recommend_site e ON a.site = e.id
		WHERE 1 = 1
		<if test="id != null and id != ''">
			and a.id = #{id}
		</if>
		<if test="search_name != null and search_name != ''">
			and b.goods_name LIKE CONCAT("%",#{search_name},"%") or c.goods_name LIKE CONCAT("%",#{search_name},"%") or d.goods_name LIKE CONCAT("%",#{search_name},"%")
		</if>
		<if test="site != null and site != ''">
			and a.site=#{site}
		</if>
		<if test="start_time != null and start_time != '' and end_time != null and end_time != ''">
			and a.upload_time BETWEEN #{start_time} and  #{end_time}
		</if>
		<if test="start_time == null or start_time == '' and end_time != null and end_time != ''">
			and a.upload_time &lt;= #{end_time}
		</if>
		<if test="start_time != null and start_time == '' and end_time == null or end_time == ''">
			and a.upload_time &gt;= #{start_time}
		</if>
		ORDER BY a.upload_time
	</select>


	<update id="enableMallRecommend" parameterType="String">
		UPDATE mall_recommend SET state = 0 WHERE id = #{id}
	</update>

	<update id="stopMallRecommend" parameterType="String">
		UPDATE mall_recommend SET state = 1 WHERE id = #{id}
	</update>

	<delete id="deleteMallRecommend" parameterType="String">
		DELETE FROM mall_recommend WHERE id = #{id}
	</delete>

	<select id="showGoodsById" parameterType="String" resultType="Map">
		SELECT id,goods_name,linkman,img_url,detail FROM mall_supply WHERE id=#{id}
	</select>

	<insert id="mallRecommend" parameterType="java.util.Map" useGeneratedKeys="true">
		INSERT INTO mall_recommend(site,supply_id1,img_url1,supply_id2,img_url2,supply_id3,img_url3,state,upload_time)
		VALUES(
		#{site},
		#{supply_id1},
		#{img_url1},
		#{supply_id2},
		#{img_url2},
		#{supply_id3},
		#{img_url3},
		#{state},
		now()
		)
	</insert>

	<update id="editMallRecommend"  parameterType="java.util.Map">
		update mall_recommend
		<set>
			<if test="site != null and site != ''">site=#{site},</if>
			<if test="supply_id1 != null and supply_id1 != ''">`supply_id1`=#{supply_id1},</if>
			<if test="img_url1 != null and img_url1 != ''">img_url1=#{img_url1},</if>
			<if test="supply_id2 != null and supply_id2 != ''">`supply_id2`=#{supply_id2},</if>
			<if test="img_url2 != null and img_url2 != ''">img_url2=#{img_url2},</if>
			<if test="supply_id3 != null and supply_id3 != ''">`supply_id3`=#{supply_id3},</if>
			<if test="img_url3 != null and img_url3 != ''">img_url3=#{img_url3},</if>
			<if test="state != null and state != ''">state=#{state},</if>
			upload_time=now()
		</set>
		where id = #{id}
	</update>

	<select id="showMallRecommend" parameterType="String" resultType="Map">
		SELECT id,site,supply_id1,img_url1,supply_id2,img_url2,supply_id3,img_url3,state,upload_time FROM mall_recommend WHERE id=#{id}
	</select>

	<select id="MallRecommendDetail" parameterType="String" resultType="Map">
		SELECT
			*
		FROM
		mall_recommend
		WHERE id=#{id}
	</select>

</mapper>
