<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.bonc.medicine.mapper.thumb.AttentionMapper">

    <!--两个人的关注关系 -->
    <select id="attentionRelation" parameterType="Map" resultType="Map">
        select
          id
        from
          common_follow
        where
          follow_flag = 1
         <if test="type != '' and type != null">
             and object_type = #{type}
         </if>
        and object_id = #{attedUserId}
        and follow_user_id = #{userId}
    </select>


    <!--Wode gaunzhuliebiao-->
    <select id="attentionList" parameterType="Map" resultType="Map">
        select
          object_id
        from
          common_follow
        where
          follow_flag = 1
        and object_type = #{type}
        and follow_user_id = #{userId}
        order by update_time desc
    </select>

    <!--关注 -->
    <insert id="giveAttention" parameterType="Map">
      insert into common_follow  values
        (null, #{type}, #{attedUserId}, #{userId}, 1, now())
    </insert>

    <!--取消关注 -->
    <update id="removeAttention" parameterType="Map">
        update common_follow
          set follow_flag = 0
          where follow_user_id = #{userId}
          and object_id = #{attedUserId}
    </update>

    <select id="fansNum" parameterType="String" resultType="Map">
        select distinct
          follow_user_id
        from
          common_follow
        where follow_flag = 1
        and object_id =  #{attedUserId}
    </select>

    <select id="fansList" parameterType="String" resultType="Map">
        SELECT
            follow_user_id
        FROM
            common_follow
        WHERE
            follow_flag = 1
            AND object_id = #{userId}
    </select>

    <select id="myAttentionNumberUser" parameterType="String" resultType="Map">
        SELECT
            COUNT( id ) AS attNumber
        FROM
            common_follow
        WHERE
            follow_user_id = #{userId}
            AND follow_flag = 1
            AND object_type =  0
    </select>


    <select id="myAttentionNumberPro" parameterType="String" resultType="Map">
        SELECT
            COUNT( id ) AS attNumber
        FROM
            common_follow
        WHERE
            follow_user_id = #{userId}
            AND follow_flag = 1
            AND object_type =  1
    </select>


</mapper>
