<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.bonc.medicine.mapper.thumb.IntegralMapper">
    <resultMap id="IntegralRuleEntity" type="com.bonc.medicine.entity.thumb.IntegralRule">
        <id property="id" column="id"/>
        <result property="actionCode" column="action_code"/>
        <result property="point" column="point"/>
        <result property="isEffect" column="is_effect"/>
        <result property="upperBound" column="upper_bound"/>
    </resultMap>

    <resultMap id="IntegralHistoryEntity" type="com.bonc.medicine.entity.thumb.IntegralHistory">

        <result property="userId" column="user_id"/>
        <result property="actionCode" column="action_code"/>
        <result property="point" column="point"/>
        <result property="actionTime" column="action_time"/>
    </resultMap>

    <!-- 通过用户的id查询用户当前的积分  -->
    <select id="queryIntegralByUserId" parameterType="String" resultType="Map">
        select
          current_integral
        from
          common_integral
        where user_id = #{userId}
    </select>

    <!--查询积分规则的全部信息 -->
    <select id="getIntegralRules" resultMap="IntegralRuleEntity">
      select
        id, action_code, point, is_effect, upper_bound
      from
        common_integral_rule
      order by
        id asc

    </select>

    <update id="updateIntegralRule" parameterType="Map">
        update
        common_integral_rule
        set
        id = #{id}
        <if test="actionCode != null and actionCode != ''">
            , action_code = #{actionCode}
        </if>
        <if test="point != null and point != ''">
            , point = #{point}
        </if>
        <if test="isEffect != null and isEffect != ''">
            , is_effect = #{isEffect}
        </if>
        <if test="upperBound != null and upperBound != ''">
            , upper_bound = #{upperBound}
        </if>
        where
        id = #{id}
    </update>

    <select id="queryIntegralHistory" parameterType="Map" resultType="Map">
        select
        de.user_id, de.action_code ,de.point, de.action_time,cu.name, cu.telephone
        from
        common_integral_dtl de left join common_user cu
        on de.user_id = cu.id
        where 1 = 1
        <if test="userId != null and userId != ''">
            and de.user_id = #{userId}
        </if>

        <if test="userName != null and userName != ''">
            and cu.name like CONCAT('%',#{userName},'%')
        </if>

        <if test="startTime != null and startTime != '' ">
            and de.action_time &gt;= #{startTime}
        </if>

        <if test="endTime != null and endTime != ''">
            and de.action_time &lt;= #{endTime}
        </if>
    </select>

    <!--更新用户的积分总数 -->
    <update id="updateUserIntergal" parameterType="Map">
      update
        common_integral
      set
        current_integral = current_integral + #{point}
      where user_id = #{userId}
    </update>

    <!--添加用户的积分记录 -->
    <insert id="addIntegralHistory" parameterType="Map">
      insert into
        common_integral_dtl
      values
        (0, #{actionCode}, #{point}, now());
    </insert>


</mapper>
