<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.bonc.medicine.mapper.thumb.ThumbMapper">

    <insert id="giveThumb" parameterType="Map">
        insert
        into
          common_praise
        values
          (#{type}, #{acceptThumbId}, #{giveThumbId}, now())
    </insert>
    
    <delete id="removeThumb" parameterType="Map">
        delete
        from
          common_praise
        where  object_type = #{type}
        and object_id= #{acceptThumbId}
        and praise_user_id = #{giveThumbId}
    </delete>

    <select id="thumbNumber" parameterType="Map" resultType="Map">
        select
          praise_user_id
        from
          common_praise
        where object_type = #{type}
        and object_id= #{acceptThumbId}
    </select>

    <select id="selectThumbNumber" parameterType="Map" resultType="Map">
        select
          praise_user_id
        from
          common_praise
        where object_type = #{type}
        and object_id= #{acceptThumbId}
    </select>

    <select id="thumbStatus" resultType="Map" parameterType="Map">
        SELECT
            praise_user_id
        FROM
            common_praise
        WHERE
            object_id = #{acceptThumbId}
            AND praise_user_id = #{userid}
            AND object_type = #{type}
    </select>

</mapper>
